*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
}
main,section{
    height: 100%;
    width: 100%;
}
 :root{
    --bg-primary-color:rgb(19, 18, 18);
    --text-primary-color:rgb(238, 234, 234);
 }
 html{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
 }
 .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
    padding-left: 8vh;
    padding-right: 8vh;
 }
 .info{
    color:var(--text-primary-color);
    height: 40px;
    width: 130px;
    align-items:center;
    display: flex;
    justify-content: center;
    user-select: none;
 }
 .board{
    height: 85vh;
    width: 92%;
    border: 2px solid rgb(56, 55, 55);
    box-sizing: border-box;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
 }
 .block{
    border: 1px solid rgb(56, 55, 55);
 }