*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
}
main,section{
    height: 100%;
    width: 100%;
}
#mobile-control{
    height: 16vh;
    width: 100vh;
    position: fixed;
    bottom: 20px;
    display: flex;
    color: rgb(126, 107, 107);
    left: 25%;
    gap: 0;
    display: none;
}
.up:hover{
  color: #fff;
}
.down:hover{
  color: #fff;
  
}
.left:hover{
  color: #fff;
}
.right:hover{
  color: #fff;
}
 .up{
    font-size: 60px;
    display: block;
    opacity: 0.2;
    margin-left: 80px;
 }
 .down{
    font-size: 60px;
    display: block;
    opacity: 0.2;
    margin-left: 80px;
    
 }
  .left{
    font-size: 60px;
    opacity: 0.2;
    margin-right: 50px;


 }
   .right{
    font-size: 60px;
    opacity: 0.2;
    margin-left: 60px;
  
 }
 
 :root{
    --bg-primary-color:rgb(19, 18, 18);
    --text-primary-color:rgb(238, 234, 234);
    --bg-fill-color:rgb(216, 224, 213);
    --bg-food-color:red;
 }
 body{
  touch-action: none;
  overflow: hidden;
 }
 html{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
 }
 .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
    padding-left: 8vh;
    padding-right: 8vh;
 }
 .info{
    color:var(--text-primary-color);
    height: 40px;
    width: 130px;
    align-items:center;
    display: flex;
    justify-content: center;
    user-select: none;
 }
 .board{
    height: 85vh;
    width: 92%;
    border: 2px solid rgb(56, 55, 55);
    box-sizing: border-box;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
 }

 .fill{
   background-color:var(--bg-fill-color);
   border-radius: 5px;

 }
 .food{
   background-color: var(--bg-food-color); 
   border-radius: 50%;
 }
 .head{
   background-color: rgb(94, 93, 90);
 }
 .modal{
   height: 100vh;
   width: 100vw;
   top: 1%;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: bulr(4px);
 }
 .start-game,.game-over{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 4px;
   color: wheat;
 }
 .game-over{
   display: none;
 }
 .btn{
   padding: 10px 20px;
   border: none;
   background-color: rgb(230, 234, 229);
   color: rgb(21, 21, 20);
   font-size: 13px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.4s ease;
 }
 .btn:hover{
   transform: scale(1.1);
 }
 @media (max-width:600px) {
  #mobile-control{
    display: initial;
    bottom: 4%;
  }
.infos{
  padding-left: 2%;
  padding-right: 2%;
}
 .board{
    height: 73vh;
    width: 90%;
    border: 2px solid rgb(56, 55, 55);
    box-sizing: border-box;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
 }


 }